.navbar {
  background-color: $color-raisin-black;
  color: $color-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__logo {
    font-family: $ff-playfair;
  }

  &__nav {
  
  }
  &__nav :not(:last-child) {
    display: none;
  }
}
