.tag{
    background-color: $color-spanish-pink;
    padding: 8px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 1px solid $color-platinum;
    text-align: center;
    margin: 5px;
}